<template>
    <div>
        <a-page-header
            style="border: 1px solid rgb(235, 237, 240); margin-bottom:10px;"
            title="Evaluations">
            <a-row class="btnHeader" type="flex">
                <a-button><a download href="https://srv-store3.gofile.io/download/0507a1cd-cdd8-4c7a-91a5-f14455be9608/Grille_dentretien_annuel%20(1).pdf"><span>Download Evaluation File</span></a></a-button>
            </a-row>
        </a-page-header>
        <h2>My Evaluations</h2>
        <div style="margin-bottom: 5%;">
            <vue-good-table
                :columns="columns"
                :rows="rows">
                <template slot="table-row" slot-scope="props">
                    <span v-if="props.column.label == 'File'">
                        {{props.row.url}}
                        <button class="btn btn-danger" @click="deleteEvaluation(props.row.id)"><i class="fa fa-trash"></i></button>
                    </span>
                </template>
            </vue-good-table>
        </div>

        <h2>Add an evaluation</h2>
        <a-form :form="form" :label-col="labelCol" :wrapper-col="wrapperCol">
            <a-form-item label="Concerned employee">
                <a-select v-model="user_id" placeholder="Please select the concerned employee" v-decorator="['employee', { rules: [{ required: true, message: 'Please input the concerned employee!' }] }]">
                    <a-select-option v-for="user in users" :key="user.id" :value="user.id">{{ user.firstname }} {{ user.lastname }}
                    </a-select-option>
                </a-select>
                <div class="clearfix" style="float:right;">
                    <a-upload :file-list="files" :remove="handleRemove" :before-upload="beforeUpload">
                    <a-button> <a-icon type="upload" /> Select File </a-button>
                    </a-upload>
                </div>
            </a-form-item>
            <a-form-item :wrapper-col="{ span: 14, offset: 4 }">
                <a-button type="primary" @click="submit">
                    Submit
                </a-button>
            </a-form-item>
        </a-form>
    </div>
</template>
<script>
export default {
    name: "ManageEvaluations",
    data() {
        return {
            user_id: null,
            file: null,
            users: [],
            rows: [],
            files:[],
            columns: [
                {
                label:'id',
                field:'id',
                },
                {
                    label:'User',
                    field:'user.firstname'
                },
                {
                    label:'File',
                    field:'url'
                }
            ],
            labelCol: { span: 4 },
            wrapperCol: { span: 14 },
            form: this.$form.createForm(this, { name: 'evaluation' })
        }
    },

    async created() {
        await this.axios.get('/api/user').then(res => {
            this.users = res.data;
        })
        this.axios.get('/api/evaluation').then(res=>{
            this.rows = res.data;
        })
    },

    methods: {
        handleFileUpload(){
            this.file = this.$refs.file.files[0];
        },
        submit() {
            if (this.files[0] && this.user_id) {
                var formData = new FormData();
                formData.append('user_id', this.user_id);
                formData.append('file', this.files[0]);
                this.axios.post('/api/evaluation/', formData, {
                    headers: {
                        'Content-Type': 'multipart/form-data'
                    }
                }).then((res) => {
                    this.rows.push(res.data)
                    this.files=[];
                    this.user_id=null;
                });
                this.$toasted.show("Request Saved Succesfully");
            }
        },
        deleteEvaluation(id){
            this.axios.delete('/api/evaluation/'+id).then(()=>{
                this.rows.splice(this.rows.findIndex(row=>row.id==id),1);
            })
        },
        handleRemove(file) {
            const index = this.files.indexOf(file);
            const newFileList = this.files.slice();
            newFileList.splice(index, 1);
            this.files = newFileList;
        },
        beforeUpload(file) {
            this.files = [...this.files, file];
            return false;
        }
    }
}
</script>

<style scoped>

</style>
