<template>
    <div >
        <h1>Create Task</h1>
        <a-form :form="form" :label-col="labelCol" :wrapper-col="wrapperCol">
            <a-form-item label="Name">
                <a-input v-model="name" type="text"
                v-decorator="['name', { rules: [{ required: true, message: 'Please input the name!' }], initialValue: name }]" />
            </a-form-item>
             <a-form-item label="Description">
                <a-input v-model="description" type="textarea" />
            </a-form-item>
            <a-form-item label="Status">
                <a-select v-model="selectedType" placeholder="please select your task type"
                v-decorator="['selectedType', { rules: [{ required: true, message: 'Please input the status!' }], initialValue: selectedType }]">
                    <a-select-option v-for="type in types" :key="type" :value="type">{{ type }}
                    </a-select-option>
                </a-select>
            </a-form-item>
            <a-form-item label="Date" >
                <a-date-picker
                    v-model="date"
                    type="date"
                    placeholder="Pick a date"
                    style="width: 100%;"
                    format="DD/MM/YYYY"
                    v-decorator="['date', { rules: [{ required: true, message: 'Please input the date!' }], initialValue: date }]"
                />
            </a-form-item>
            <a-form-item label="Duration wanted">
                <a-input type="number" step="any" min="0" v-model="duration_wanted" 
                v-decorator="['duration_wanted', { rules: [{ required: true, message: 'Please input the duration wanted!' }], initialValue: duration_wanted }]"
                />
            </a-form-item>
            <a-form-item label="Real duration">
                <a-input type="number" step="any" min="0" v-model="real_duration" />
            </a-form-item>            
            <a-form-item :wrapper-col="{ span: 14, offset: 4 }">
                <a-button type="primary" @click="submit">
                    Submit
                </a-button>
                <a-button style="margin-left: 10px; color: black">
                    <router-link style="color: black; font-weight: normal;" to="/tasks">Cancel</router-link>
                </a-button>
            </a-form-item>      
        </a-form>
    </div>
</template>

<script>
export default {
    name: "CreateTask",
    data() {
        return {
            labelCol: { span: 4 },
            wrapperCol: { span: 14 },
            name: null,
            description: null,
            date: null,
            types: ['To do','Doing','Testing','Done','Waiting'],
            selectedType: null,
            duration_wanted: null,
            real_duration: null,
            form: this.$form.createForm(this, { name: 'task' }),

        }
    },
    created () {
        let moment = require('moment'); // require
        if (this.$route.params.id) {
            this.axios.get('/api/task/'+this.$route.params.id).then(res=>{
                this.name = res.data.name;
                this.descriptio = res.data.description;
                this.date = moment(res.data.date).format('YYYY-MM-DD');
                this.selectedType = res.data.status;
                this.duration_wanted = res.data.duration_wanted;
                this.real_duration = res.data.real_duration;
            })
        }
    },
    methods: {
        submit() {
            this.form.validateFields((err) => {
                if (!err) {
                    if (this.$route.params.id){
                        this.axios.put('/api/task/'+this.$route.params.id, {
                            name: this.name,
                            description: this.description,
                            date: this.date.format("YYYY-MM-DD"),
                            status: this.selectedType,
                            duration_wanted: this.duration_wanted,
                            real_duration: this.real_duration,
                            user_id: this.getUser().id
                        
                        }).then(() => {
                            this.$toasted.show("Request Saved Succesfully");
                            this.$router.push({name: 'ManageTask'})
                        })
                        .catch(({ response }) => {
                            this.$toasted.show(response.data.message.errorInfo[2]);
                        })
                    }else{
                        this.axios.post('/api/task/', {
                            name: this.name,
                            description: this.description,
                            date: this.date.format("YYYY-MM-DD"),
                            status: this.selectedType,
                            duration_wanted: this.duration_wanted,
                            real_duration: this.real_duration,
                            user_id: this.getUser().id
                        }).then(() => {
                            this.$router.push({name: 'ManageTask'})
                            this.$toasted.show("Request Saved Succesfully");
                        })
                        .catch(({ response }) => {
                            this.$toasted.show(response.data.message.errorInfo[2]);
                        })
                    }
                }
            })
        }
    },

}
</script>

<style scoped>

</style>
