<template>
    <div>
        <a-page-header
            style="border: 1px solid rgb(235, 237, 240); margin-bottom:10px;"
            title="Tasks">
             <a-row class="btnHeader" type="flex">
                <a-button><router-link to="/tasks/CreateTask"><span>Create Task</span></router-link></a-button>
            </a-row>
        </a-page-header>
        <div>
            <a-row type="flex" justify="center">
                <a-col :span="4">
                    <a-button class="btn" @click="minusOneDay(date)">
                        <a-icon type="left" />
                    </a-button>
                </a-col>
                <a-col :span="4">
                    <div :key="key">
                        <h3>My tasks of {{ date | formatDate }}</h3> 
                        <div :key="keyCalendar">
                            <a-date-picker
                                v-model="dateM"
                                type="date"
                                placeholder="Pick a date"
                                @change="onChange"
                                :format="'YYYY-MM-DD'"
                            />
                        </div>
                    </div>
                </a-col>
                <a-col :span="4">
                    <a-button style="float:left;" class="btn" @click="plusOneDay(date)">
                       <a-icon type="right" />
                    </a-button>
                </a-col>
            </a-row>
            <a-row type="flex" justify="center">
                <a-col :span="12">
                    <a-list
                        item-layout="horizontal"
                        :data-source="myTasksOfTheDay"  >
                        <a-list-item slot="renderItem" key="task.id" slot-scope="task" style="text-align:left;">                    
                            <a-list-item-meta type="flex" >
                                <p slot="title">{{ task.name }}</p>
                                <p slot="description">
                                    {{ task.description }}
                                    <a-tag color="orange" v-if="task.status == 'To do'">
                                        {{ task.status }}
                                    </a-tag>
                                    <a-tag color="blue" v-if="task.status == 'Doing'">
                                        {{ task.status }}
                                    </a-tag> 
                                    <a-tag v-if="task.status == 'Testing'">
                                        {{ task.status }}
                                    </a-tag> 
                                    <a-tag color="green" v-if="task.status == 'Done'">
                                        {{ task.status }}
                                    </a-tag>
                                    <a-tag color="purple" v-if="task.status == 'Waiting'">
                                        {{ task.status }}
                                    </a-tag>
                                </p>
                            </a-list-item-meta> 
                            <div>  
                                <a-row type="flex" align="middle">
                                    <a-col :flex="3" style="margin-right:5px;">  
                                        <span v-if="task.real_duration != null">Real duration :  {{ task.real_duration }}h </span><br/>
                                        <span>Duration wanted : {{ task.duration_wanted }}h </span>              
                                    </a-col> 
                                    <a-col :flex="2">  
                                        <a-button class="btn" @click="deleteTask(task.id, task.name)" >
                                            <a-icon type="delete" />
                                        </a-button>
                                        <a-button class="btn" @click="modifyTask(task.id)" >
                                            <a-icon type="edit" />
                                        </a-button>
                                    </a-col>  
                                </a-row>   
                            </div>
                        </a-list-item>
                    </a-list>
                </a-col>
            </a-row>
        </div>
    </div>  
</template>

<script>
export default {
    name: "ManageTask",
    data() {
        return {
            myTasksOfTheDay: null,
            date: new Date(),
            key: 0,
            keyCalendar: 0,
            dateM: new Date(),
        }
    },
    //Au chargement de la page
    created(){
       this.fetchMyTasks(this.date)
    },
    methods:{

        /**
         * Date du time picker, car date de type moment
         */
        onChange(date){
            this.date = date._d;
            this.fetch(date);
        },
        /*
         * Met la date sous bon format avant de retourner les tâches
         */
        fetchMyTasks(date){
            date = this.formatDate(date)
            this.fetch(date)
        },
        /*
         * Retourne les tâches du jour en paramètre de l'utilisateur connecté
         */
        fetch(date){
            this.keyCalendar += 1
            this.axios.post('/api/tasks/getTasksOfDay', {date: date}).then(result => {
                this.myTasksOfTheDay = result.data;
            })
            
        },
        /**
         * Formattage de la date
         */
        formatDate(date){
            let month = date.getMonth() + 1
            let dte = date.getFullYear() + '-' + month + '-' + date.getDate()
            return dte
        },
        /**
         * Ajout un jour à la date passée en paramétre et charge les tasks liées
         */
        plusOneDay(date){
            //Si c'est le 31 sur un mois tel que jan,mars,mai,juil,aout,oct,dec
            //ou si c'est le 30 sur un mois tel que avril,juin,sept,nov
            if((date.getDate() == 31 && (date.getMonth()%2 == 0 || date.getMonth() == 7)) || (date.getDate() == 30 && (date.getMonth()%2 != 0 && date.getMonth() != 7))) {
                date.setDate(1)
                //Si ce n'est pas le mois de décembre
                if(date.getMonth() < 11) {
                    date.setMonth(date.getMonth() + 1)
                //si c'est le mois de décembre on ajout un an
                } else {
                    date.setMonth(1)
                    date.setFullYear(date.getFullYear() + 1)
                }
                //si c'est le mois de février et en étant le 28 ou le 29
            } else if ((date.getDate() == 28 || date.getDate() == 29) &&  date.getMonth() == 1) {
                //On teste si l'année est bissextile
                if((!this.isBissextile(date.getFullYear()) && date.getDate() == 28) || (this.isBissextile(date.getFullYear()) && date.getDate() == 29)) {
                    date.setDate(1)
                    date.setMonth(date.getMonth() + 1)
                }
            //Sinon on ajoute un jour
            } else {
                date.setDate(date.getDate() + 1)
            }
            this.key += 1
            //Chargement des tâches de la nouvelle date
            this.fetchMyTasks(date)
        },
        /**
         * Soustrait un jour à la date passée en paramétre et charge les tasks liées
         */
        minusOneDay(date){
            //Si c'est le premier jour du mois
            if(date.getDate() == 1) {
                //si le mois est supérieur à janvier
                if(date.getMonth() > 0) {
                    //On met le mois précédent
                    date.setMonth(date.getMonth() - 1)
                    //S'il s'agit d'un mois à 30 jours ou le mois de février
                    if(date.getMonth()%2 != 0 && date.getMonth() != 6){
                        //S'il ne s'agit pas de février
                        if(date.getMonth() != 1) {
                            date.setDate(30)
                        //Si ce n'est pas une année bissextile
                        } else if(!this.isBissextile(date.getFullYear())) {
                            date.setDate(28)
                        //Sinon année bissextile
                        } else {
                            date.setDate(29)
                        }
                    //Sinon mois avec 31 jours
                    } else if(date.getMonth()%2 == 0 || date.getMonth() == 6) {
                        date.setDate(31)
                    }
                //sinon on recule d'une année, date du 31 décembre
                } else {
                    date.setDate(31)
                    date.setMonth(11)
                    date.setFullYear(date.getFullYear() - 1)
                }
            //Sinon on soustrait un jour
            } else {
                date.setDate(date.getDate() - 1)
            }

            this.key -= 1
            //Chargement des tâches de la nouvelle date
            this.fetchMyTasks(date)
        },
        /**
         * Retourne un booléan : vrai si année bissextile et faux sinon
         */
        isBissextile(annee) {
            if ((annee%4==0) && ((annee%100!=0) || (annee%400==0))) { 
                return true
            } else {
                return false
            }
        },
        /**
         * Supprimer une tâche
         */
        deleteTask(id,name){
            if(confirm("Do you want to delete the task: "+ name + "?")) {
                this.axios.delete('/api/task/'+ id).then(() => {
                    this.myTasksOfTheDay.splice(this.myTasksOfTheDay.findIndex(task =>  task.id == id),1);
                    this.$toasted.show("The task has been deleted");

                })   
            }        
        },
        /**
         * Route pour modifier une tâche
         */
        modifyTask(id){
            this.$router.push('/tasks/CreateTask/'+id);
        },
    }
}
</script>

<style scoped>
.btn span{
    color:black;
    font-weight: normal;
    float:right;
}
.btn {
    float:right;
    margin:1px;
}
</style>
