<template>
    <div>
        <h1>Create a job offer</h1>
        <a-form :form="form" :label-col="labelCol" :wrapper-col="wrapperCol">
            <a-form-model-item label="Name">
                <a-input v-model="name" type="text"                
                 v-decorator="['name', { rules: [{ required: true, message: 'Please input the name!' }], initialValue: name }]"/>
            </a-form-model-item>
            <a-form-item label="Type of job">
                <a-select v-model="selectedJobType" placeholder="please select the type" 
                v-decorator="['type', { rules: [{ required: true, message: 'Please input the type!' }], initialValue: selectedJobType }]">
                    <a-select-option v-for="type in jobTypes" :key="type" :value="type"> {{ type }}
                    </a-select-option>
                </a-select>
            </a-form-item>
            <a-form-model-item label="Description">
                <a-input v-model="description" type="textarea"
                v-decorator="['desription', { rules: [{ required: true, message: 'Please input the description!' }], initialValue: description }]" />
            </a-form-model-item>
            <a-form-item label="Expiration date" >
                <a-date-picker
                    v-model="expiration"
                    type="date"
                    placeholder="Pick a date"
                    style="width: 100%;"
                    v-decorator="['expiration', { rules: [{ required: true, message: 'Please input the expiration date!' }], initialValue: expiration }]"
                />
            </a-form-item>
            <a-form-item :wrapper-col="{ span: 14, offset: 4 }">
                <a-button type="primary" @click="submit">
                    Submit
                </a-button>
                <a-button style="margin-left: 10px; color: black">
                    <router-link style="color: black; font-weight: normal;" to="/recruitments">Cancel</router-link>
                </a-button>
            </a-form-item>        
        </a-form>
    </div>
</template>

<script>
export default {
    name: "CreateJobOffer",

    data() {
        return {
            name:this.name,
            jobTypes: ['CDI', 'CDD', 'Interimaire','Stagiaire','Alternance'],
            description:this.description,
            expiration:this.expiration,
            selectedJobType:null,
            user_id:this.getUser().id,
            labelCol: { span: 4 },
            wrapperCol: { span: 14 },
            form: this.$form.createForm(this, { name: 'jobOfferRequest' }),

        }
    },
    computed: {
        isValidDate() {
            let moment = require('moment');
            return (this.expiration.format()>=moment().format());
        }
    },
    created () {
        let moment = require('moment');
        if (this.$route.params.id) {
            this.axios.get('/api/job/'+this.$route.params.id).then(res=>{
                this.name = res.data.name;
                this.selectedJobType = res.data.type;
                this.description = res.data.description;
                this.expiration = moment(res.data.expiration).format('YYYY-MM-DD');
                this.user_id = this.getUser().id;
            })
        }
    },
    methods:{
        submit() {
            this.form.validateFields((err) => {
                if (!err) {
                    if (this.isValidDate) {
                        if(this.$route.params.id) {
                            console.log(this.expiration.format("YYYY-MM-DD"));
                            this.axios.put('/api/job/' + this.$route.params.id,{
                                name:this.name,
                                type:this.selectedJobType,
                                description:this.description,
                                expiration: this.expiration.format("YYYY-MM-DD"),
                                user_id:this.getUser().id,
                            }).then(()=>{
                                this.$toasted.show("Job Offer created Succesfully");
                                this.$router.push({name:'ManageRecruitments'})
                            })
                            .catch(({ response }) => {
                                    this.$toasted.show(response.data.message.errorInfo[2]);
                            });
                        } else {
                            this.axios.post('/api/job/',{
                                name:this.name,
                                type:this.selectedJobType,
                                description:this.description,
                                expiration: this.expiration.format("YYYY-MM-DD"),
                                user_id:this.getUser().id,
                            }).then(()=>{
                                this.$toasted.show("Job Offer created Succesfully");
                                this.$router.push({name:'ManageRecruitments'})
                            })
                            .catch(({ response }) => {
                                    this.$toasted.show(response.data.message.errorInfo[2]);
                            });
                        }
                    }
                    else {
                        this.$toasted.show("Date isn't correct, you must choose a higher date");
                    }
                }
            })
        }
    }
}
</script>
<style scoped>
</style>
