<template>
    <div>
        <a-page-header
            style="border: 1px solid rgb(235, 237, 240); margin-bottom:10px;"
            title="Recruitments">
            
            <a-row class="btnHeader" type="flex">
                <a-button><router-link to="/recruitments/CreateJobOffer"><span>Create Job Offer</span></router-link></a-button>
            </a-row>
        </a-page-header>

        <a-row type="flex" :gutter="16"  id="jobOffers">
            <a-col :span="24">
                <a-list :grid="{ gutter: 16, column: 4 }" item-layout="horizontal" size="large" :data-source="jobOffers">
                    <a-list-item slot="renderItem" key="jobOffer.id" slot-scope="jobOffer">
                        <a-card :title="'Job offer n°' + jobOffer.id" hoverable>
                            <p>{{ jobOffer.name }}</p>
                            <p>Expiration : {{ jobOffer.expiration | formatDate}}</p>
                            <p>{{ jobOffer.description }}</p>

                            <template slot="actions" class="ant-card-actions">
                                <a-icon key="edit" type="edit"  @click="modifyJobOffer(jobOffer.id)"/>
                                <a-icon key="delete" type="delete" @click="deleteJobOffer(jobOffer.id)"/>
                            </template>
                        </a-card>
                    </a-list-item>
                </a-list>
            </a-col>
        </a-row>
    </div>
</template>

<script>
export default {
    name: "ManageRecruitments",

    data() {
        return {
            jobOffers:null,
            columns:[
                {
                    label:'Name',
                    field:'name',
                },
                {
                    label:'Type',
                    field:'type'
                },
                {
                    label:'Description',
                    field:'description',
                },
                {
                    label:'Expiration date',
                    field:'expiration',
                },
                {
                    label:'RH',
                    field:'user.lastname'
                },
                {
                    label:'Action',
                    field:'toto',
                    sortable:false
                }
            ]
        }
    },
    async created(){
      this.axios.get('/api/job').then(res=>{
          this.jobOffers = res.data.message
      })
    },
    methods:{
        deleteJobOffer(id){
            if(confirm("Do you want to delete the job offer n°"+ id + "?")) {
                this.axios.delete('/api/job/'+id).then(()=>{
                    this.jobOffers.splice(this.jobOffers.findIndex(row=>row.id==id),1);
                })
            }
        },
        modifyJobOffer(id){
            this.$router.push('/recruitments/CreateJobOffer/'+id);
        }
    }
}
</script>
<style scoped>
</style>
