<template>
    <div>
        <a-page-header
            style="border: 1px solid rgb(235, 237, 240); margin-bottom:10px;"
            title="Role Management">
            <a-row class="btnHeader" type="flex">
            </a-row>
        </a-page-header>
        <div>
            <vue-good-table
                :columns="columns"
                :rows="rows">
                <template slot="table-row" slot-scope="props">
                    <span v-if="props.column.label == 'Service'">
                        <select :value="props.row.service_id" @change="edit($event,props.row.id,'service_id')">
                            <option v-for="service in services" :value="service.id" :key="service.id">{{service.name}}</option>
                        </select>
                    </span>
                    <span v-else-if="props.column.label == 'Role'">
                        <select :value="props.row.role" @change="edit($event,props.row.id,'role')">
                            <option v-for="(role,i) in roles" :value="role" :key="i">{{role}}</option>
                        </select>
                    </span>
                </template>
            </vue-good-table>
        </div>
    </div>
</template>
<script>
export default {
    name: "ManageRole",

    data() {
        return {
            columns: [
                {
                    label: 'Id',
                    field: 'id',
                },
                {
                    label: 'Lastname',
                    field: 'lastname',
                },
                {
                    label: 'Firstname',
                    field: 'firstname',
                },
                {
                    label: 'Role',
                    field: 'role',
                },
                {
                    label: 'Service',
                    field: 'service',
                }
            ],
            rows: [
            ],
            roles:[
                'RH',
                'Responsable',
                'Employee'
            ]
        }
    },
    async created(){
        await this.axios.get('/api/service').then(res=>{
            this.services = res.data;
        })
       this.axios.get('/api/user').then(res=>{
           this.rows = res.data;
       })
    },
    methods:{
        edit(event,id,type){
            if (type=='service_id'){
                this.axios.put('/api/user/'+id,{
                    service_id:event.target.value
                }).then(res=>{
                    this.rows[this.rows.findIndex(r=>r.id === id)]= res.data;
                })
            }else{
                this.axios.put('/api/user/'+id,{
                    role:event.target.value
                }).then(res=>{
                    this.rows[this.rows.findIndex(r=>r.id === id)]= res.data;
                })
            }

        }
    }
}
</script>

<style scoped>

</style>
