<template>
    <div>
        <a-page-header
            style="border: 1px solid rgb(235, 237, 240); margin-bottom:10px;"
            title="Service Management">
             <a-row class="btnHeader" type="flex"></a-row>
        </a-page-header>

        <h2>All the services</h2>
        <div style="margin-bottom: 5%;">
            <vue-good-table
                :columns="columns"
                :rows="services">
                <template slot="table-row" slot-scope="props">
                    <span v-if="props.column.label == 'Action'">
                        <a-button @click="modifyService(props.row.id, props.row.name, props.row.code)"><a-icon key="edit" type="edit"/></a-button>
                        <a-button @click="deleteService(props.row.id)"><a-icon key="delete" type="delete"/></a-button>
                    </span>
                </template>
            </vue-good-table>
        </div>

        <h2>Add a service</h2>
        <a-form :form="form" :label-col="labelCol" :wrapper-col="wrapperCol">
            <a-form-model-item label="Name">
                <a-input v-model="name" type="text"
                 v-decorator="['name', { rules: [{ required: true, message: 'Please input the name!' }], initialValue: name }]"/>
            </a-form-model-item>
            <a-form-model-item label="Code">
                <a-input v-model="code" type="text"
                 v-decorator="['code', { rules: [{ required: true, message: 'Please input the code!' }], initialValue: code }]"/>
            </a-form-model-item>

            <a-form-item :wrapper-col="{ span: 14, offset: 4 }">
                <a-button type="primary" @click="submit">
                    Submit
                </a-button>
            </a-form-item>
        </a-form>
    </div>
</template>

<script>
export default {
    name: "Services",
    data(){
        return {
            services:[],
            name:null,
            code:null,
            currentId:null,
            columns:[
                {
                    label: "Name",
                    field: "name"
                },
                {
                    label: "Code",
                    field: "code"
                },
                {
                    label: "Action",
                    field: "action",
                    sortable: false
                }
            ],
            labelCol: { span: 4 },
            wrapperCol: { span: 14 },
            form: this.$form.createForm(this, { name: 'jobOfferRequest' })
        }
    },
    async created(){
        this.axios.get('/api/service').then(res=>{
            this.services = res.data;
        });
    },
    methods:{
        submit(){
            if (this.currentId!=null){
                console.log(this.code, this.name, this.currentId);
                this.axios.put('/api/service/'+this.currentId,{
                    code:this.code,
                    name:this.name,
                }).then(() =>{
                    let index=this.services.findIndex(service=>service.id==this.currentId);
                    this.services[index].name=this.name;
                    this.services[index].code=this.code;
                    this.name=null;
                    this.code=null;
                    this.currentId=null;
                    this.form.resetFields();
                });
            }
            else{
                this.axios.post('/api/service',{
                    code:this.code,
                    name:this.name,
                }).then(res=>{
                    this.code=null;
                    this.name=null;
                    this.services.push(res.data)
                    this.form.resetFields();
                });

            }
        },
        deleteService(id){
            this.axios.delete('/api/service/'+id).then(()=>{
                this.services.splice(this.services.findIndex(row=>row.id==id),1);
            })
        },
        modifyService(id, name, code){
            console.log(this.currentId);
            this.currentId = id;
            console.log(this.currentId);
            this.name = name;
            this.code = code;
        }
    }
}
</script>

<style scoped>

</style>
