<template>
    <div >
        <h1>Create Holidays Request</h1>
        <a-form :form="form" :label-col="labelCol" :wrapper-col="wrapperCol">
            <a-form-item label="Type of holiday">
                <a-select v-model="selectedType" placeholder="please select the type" 
                v-decorator="['type', { rules: [{ required: true, message: 'Please input the type!' }], initialValue: selectedType }]">
                    <a-select-option v-for="type in types" :key="type" :value="type"> {{ type }}
                    </a-select-option>
                </a-select>
            </a-form-item>
            <a-form-item label="Start date" >
                <a-date-picker
                    v-model="startDate"
                    type="date"
                    placeholder="Pick a date"
                    style="width: 100%;"
                    v-decorator="['startDate', { rules: [{ required: true, message: 'Please input the start date!' }], initialValue: startDate }]"
                />
            </a-form-item>
            <a-form-item label="Day period">
                <a-select v-model="startDayPeriod" placeholder="please select the period of the day"
                v-decorator="['startDay', { rules: [{ required: true, message: 'Please input the period of the day!' }], initialValue: startDayPeriod }]">
                    <a-select-option v-for="period in dayPeriods" :key="period" :value="period">{{ period }}
                    </a-select-option>
                </a-select>
            </a-form-item>
            <a-form-item label="End date" >
                <a-date-picker
                    v-model="endDate"
                    type="date"
                    placeholder="Pick a date"
                    style="width: 100%;"
                    v-decorator="['endDate', { rules: [{ required: true, message: 'Please input the end date!' }] , initialValue: endDate }]"

                />
            </a-form-item>
            <a-form-item label="Day period">
                <a-select v-model="endDayPeriod" placeholder="please select the period of the day"
                 v-decorator="['endDay', { rules: [{ required: true, message: 'Please input the period of the day!' }] , initialValue: endDayPeriod}]">
                    <a-select-option v-for="period in dayPeriods" :key="period" :value="period">{{ period }}
                    </a-select-option>
                </a-select>
            </a-form-item>
            <a-form-item label="Concerned employee" v-if="getUser().role == 'RH' || getUser().role == 'Responsable'">
                <a-select v-model="user_id" placeholder="Please select the concerned employee" v-decorator="['employee', { rules: [{ required: true, message: 'Please input the concerned employee!' }], initialValue: user_id }]">
                    <a-select-option v-for="user in users" :key="user.id" :value="user.id">{{ user.firstname }} {{ user.lastname }}
                    </a-select-option>
                </a-select>
            </a-form-item>

            <a-form-item :wrapper-col="{ span: 14, offset: 4 }">
                <a-button type="primary" @click="submit">
                    Submit
                </a-button>
                <a-button style="margin-left: 10px; color: black">
                    <router-link style="color: black; font-weight: normal;" to="/holidays">Cancel</router-link>
                </a-button>
            </a-form-item>
        </a-form>
    </div>
</template>

<script>
export default {
    name: "CreateHRequest",
    data() {
        return {
            labelCol: { span: 4 },
            wrapperCol: { span: 14 },
            startDate: null,
            endDate: null,
            startDayPeriod: null,
            endDayPeriod: null,
            types: ['RTT','Paid','Not Paid','Other','Sickness','Pregnancy'],
            dayPeriods: ['Morning', 'Afternoon'],
            selectedType: null,
            form: this.$form.createForm(this, { name: 'holiday' }),
            user_id:null,
            users:[],
        }
    },
    computed: {
      isValidDate() {
          return (!(this.startDayPeriod=="Afternoon" && this.endDayPeriod=="Morning" && this.startDate==this.endDate)
              && (this.startDate<=this.endDate));
      }
    },
    async created () {
        let moment = require('moment');
        await this.axios.get('/api/user').then(res => {
            this.users = res.data;
        })
        this.user_id = this.getUser().id;
        if (this.$route.params.id) {
            this.axios.get('/api/holidayRequest/'+this.$route.params.id).then(res=>{
                this.startDate = moment(res.data.start_date).format('YYYY-MM-DD');
                this.endDate = moment(res.data.end_date).format('YYYY-MM-DD');
                this.selectedType = res.data.type;
                if (moment(res.data.start_date).format('HH')==17)this.startDayPeriod='Afternoon'
                else this.startDayPeriod='Morning'
                if (moment(res.data.end_date).format('HH')==17)this.endDayPeriod='Afternoon'
                else this.endDayPeriod='Morning'
            })
        }
    },
    methods: {
        submit() {
             this.form.validateFields((err) => {
                if (!err) {
                    if (this.isValidDate) {
                        if (this.$route.params.id){
                            this.axios.put('/api/holidayRequest/'+this.$route.params.id, {
                                start_date: new Date(this.startDate.toDate()),
                                end_date: new Date(this.endDate.toDate()),
                                type: this.selectedType,
                                status: 'Waiting',
                                user_id: this.getUser().id,
                                startDayPeriod: this.startDayPeriod,
                                endDayPeriod: this.endDayPeriod,
                            }).then(() => {
                                this.$toasted.show("Request Saved Succesfully");
                                this.$router.push({name: 'ManageHolidays'});
                            })
                            .catch(({ response }) => {
                                this.$toasted.show(response.data.message.errorInfo[2]);
                            })
                        }else{
                            this.axios.post('/api/holidayRequest/', {
                                start_date: new Date(this.startDate.toDate()),
                                end_date: new Date(this.endDate.toDate()),
                                type: this.selectedType,
                                status: 'Waiting',
                                user_id: this.getUser().id,
                                startDayPeriod: this.startDayPeriod,
                                endDayPeriod: this.endDayPeriod,
                            }).then(() => {
                                this.$toasted.show("Request Saved Succesfully");
                                this.$router.push({name: 'ManageHolidays'});
                            })
                            .catch(({ response }) => {
                                this.$toasted.show(response.data.message.errorInfo[2]);
                            })
                        }
                    }else{
                        this.$toasted.show("Date isn't correct");
                    }
                }
             })
        }
    },

}

</script>

<style scoped>

</style>
