<template>
    <div>
        <a-page-header
            style="border: 1px solid rgb(235, 237, 240); margin-bottom:10px;"
            title="Holidays">
            <h3>My Remaining Days : {{remainingDays}}</h3>

            <a-row class="btnHeader" type="flex">
                <a-button><router-link to="/holidays/createHRequest"><span>Create a Holiday Request</span></router-link></a-button>
            </a-row>
        </a-page-header>

        <a-row type="flex" :gutter="16"  id="myHolidays">
            <a-col :span="12">

                <h2>My Holidays Requests</h2>

                <a-list :grid="{ gutter: 16, column: 2 }" item-layout="horizontal" size="large" :data-source="rows_user">
                    <a-list-item slot="renderItem" key="hRequest.id" slot-scope="hRequest">
                        <a-card :title="'Holiday request n°' + hRequest.id" hoverable  >
                            <p>{{ hRequest.lastName }}</p>
                            <p>{{ hRequest.start_date | formatDate}} - {{ hRequest.end_date | formatDate}}</p>
                            <p>{{ hRequest.type }}</p>
                            <p>
                                <a-tag color="red" v-if="hRequest.status == 'Refused'">
                                    {{ hRequest.status }}
                                </a-tag>
                                <a-tag color="green" v-if="hRequest.status == 'Validated'">
                                    {{ hRequest.status }}
                                </a-tag>
                                <a-tag color="purple" v-if="hRequest.status == 'Waiting'">
                                    {{ hRequest.status }}
                                </a-tag>
                            </p>

                            <template slot="actions" class="ant-card-actions">
                                <a-icon key="edit" type="edit"  @click="modifyMyHRequest(hRequest.id,hRequest.status)"/>
                                <a-icon key="delete" type="delete" @click="deleteRequestUser(hRequest.id)"/>
                            </template>
                        </a-card>
                    </a-list-item>
                </a-list>
            </a-col>

            <template v-if="getUser().role=='RH' || getUser().role == 'Responsable'">
                <a-col :span="12" id="AllHodidays">

                    <h2>Holidays requests to validate</h2>

                    <a-list :grid="{ gutter: 16, column: 2 }" item-layout="horizontal" size="large" :data-source="rows_validate">
                        <a-list-item slot="renderItem" key="hRequest.id" slot-scope="hRequest">
                            <a-card :title="'Holiday request n°' + hRequest.id" hoverable  >
                                <p>{{ hRequest.user.firstname }} {{ hRequest.user.lastname }}</p>
                                <p>{{ hRequest.start_date | formatDate}} - {{ hRequest.end_date | formatDate}}</p>
                                <p>{{ hRequest.type }}</p>
                                <p>
                                    <a-tag color="red" v-if="hRequest.status == 'Refused'">
                                        {{ hRequest.status }}
                                    </a-tag>
                                    <a-tag color="green" v-if="hRequest.status == 'Validated'">
                                        {{ hRequest.status }}
                                    </a-tag>
                                    <a-tag color="purple" v-if="hRequest.status == 'Waiting'">
                                        {{ hRequest.status }}
                                    </a-tag>
                                </p>

                                <template slot="actions" class="ant-card-actions">
                                    <a-icon key="close" type="close"  @click="editRequestAdmin(hRequest.id, 'Refused')"/>
                                    <a-icon key="check" type="check" @click="editRequestAdmin(hRequest.id, 'Accepted')"/>
                                </template>
                            </a-card>
                        </a-list-item>
                    </a-list>
                </a-col>
            </template>
        </a-row>
    </div>
</template>
<script>
export default {
    name: "ManageHolidays",

    data() {
        return {
            remainingDays:0,
            columns_user: [
                {
                    label: 'Id',
                    field: 'id',
                },
                {
                    label: 'Start Date',
                    field: 'start_date',
                    type: 'date',
                    dateInputFormat: 'yyyy-MM-dd HH:mm:ss',
                    dateOutputFormat: 'dd/MM/yyyy',
                },
                {
                    label: 'End Date',
                    field: 'end_date',
                    type: 'date',
                    dateInputFormat: 'yyyy-MM-dd HH:mm:ss',
                    dateOutputFormat: 'dd/MM/yyyy',
                },
                {
                    label: 'Status',
                    field: 'status',
                    type: 'string',
                },
                {
                    label: 'Type',
                    field: 'type',
                    type: 'string'
                },{
                    label: 'Action',
                    field:'toto',
                    sortable:false,
                }
            ],
            rows_user: [],
            columns_validate: [
                {
                    label: 'Id',
                    field: 'id',
                },
                {
                    label: 'User name',
                    field: 'user.lastname'
                },
                {
                    label: 'Start Date',
                    field: 'start_date',
                    type: 'date',
                    dateInputFormat: 'yyyy-MM-dd HH:mm:ss',
                    dateOutputFormat: 'dd/MM/yyyy',
                },
                {
                    label: 'End Date',
                    field: 'end_date',
                    type: 'date',
                    dateInputFormat: 'yyyy-MM-dd HH:mm:ss',
                    dateOutputFormat: 'dd/MM/yyyy',
                },
                {
                    label: 'Status',
                    field: 'status',
                    type: 'string',
                },
                {
                    label: 'Type',
                    field: 'type',
                    type: 'string'
                },{
                    label: 'Action',
                    field:'toto',
                    sortable:false,
                }
            ],
            rows_validate: [],
        }

    },
    created(){
        this.getRemainingDays()
        this.axios.get('/api/user/1/holidayRequest').then(res=>{
          this.rows_user = res.data.message;
      })
        this.axios.get('/api/holidayRequest').then(res=>{
          this.rows_validate = res.data.message;
      })
    },
    methods: {
        getRemainingDays(){
            this.axios.get('/api/user/1/getRemainingDays').then(res=>{
                this.remainingDays = res.data;
            })
        },
        deleteRequestUser(id) {
            if(confirm("Do you want to delete the holidays request n°"+ id + "?")) {
                this.axios.delete('/api/holidayRequest/'+id).then(()=>{
                    this.rows_user.splice(this.rows_user.findIndex(row=>row.id==id),1);
                    this.getRemainingDays()
                    //Si le role est RH ou Responsable alors on supprime de la liste à valider
                    if(this.getUser().role == 'RH' || this.getUser().role == 'Responsable') {
                        this.rows_validate.splice(this.rows_validate.findIndex(row=>row.id==id),1);
                    }

                })
            }
        },
        editRequestAdmin(id, status) {
            this.axios.put('/api/holidayRequest/'+id, {status: status}).then(()=>{
                this.rows_validate.splice(this.rows_validate.findIndex(row=>row.id==id),1);
            })
        },
        modifyMyHRequest(id, status){
            if(status == 'Waiting') {
                this.$router.push('/holidays/createHRequest/'+id);
            } else {
                this.$toasted.show("The holiday request status isn't 'Waiting'");
            }
        }
    }
}
</script>

<style scoped>
#AllHodidays {
    background-color: #02C39A;
}

#AllHodidays h2{
    color: white;
}
</style>

