<template>
    <div>
        <!-- TODO : Ajouter vérif si Responsable ou RH
        Initialisation concerned employee -->
        <h1>
            Create an expense
        </h1>
        <a-form :form="form" :label-col="labelCol" :wrapper-col="wrapperCol">
            <a-form-item label="Type of expense report">
                <a-select v-model="selectedType" placeholder="Please select your expense report type " v-decorator="['type', { rules: [{ required: true, message: 'Please input your expense report type!' }], initialValue: selectedType}]">
                    <a-select-option v-for="type in type" :key="type" :value="type"> {{ type }}
                    </a-select-option>
                </a-select>
            </a-form-item>
            <a-form-item label="Date" >
                <a-date-picker
                    v-model="date"
                    type="date"
                    placeholder="Pick a date"
                    style="width: 100%;"
                    format="DD/MM/YYYY"
                    v-decorator="['date', { rules: [{ required: true, message: 'Please input the date!' }], initialValue: date }]"
                />
            </a-form-item>
            <a-form-item label="Payment type">
                <a-select v-model="selectedPaymentType" placeholder="Please select your payment type"  v-decorator="['payment', { rules: [{ required: true, message: 'Please input your payment type!' }], initialValue: selectedPaymentType }]">
                    <a-select-option v-for="payment in payment_type" :key="payment" :value="payment">{{ payment }}
                    </a-select-option>
                </a-select>
            </a-form-item>
            <a-form-item label="Amount/Currency">
                <a-input type="number" step="any" min="0" v-model="amount" v-decorator="['amount', { rules: [{ required: true, message: 'Please input your amount!' }], initialValue: amount }]" />
                <a-select v-model="selectedCurrency" placeholder="Please select the currency" v-decorator="['currency', { rules: [{ required: true, message: 'Please input the currency!' }], initialValue: selectedCurrency }]">
                    <a-select-option v-for="current in currency" :key="current" :value="current">{{ current }}
                    </a-select-option>
                </a-select>
            </a-form-item>
            <a-form-item label="Comment">
                <a-input v-model="comment" type="textarea" />
            </a-form-item>
            <a-form-item label="Concerned employee" v-if="getUser().role == 'RH' || getUser().role == 'Responsable'">
                <a-select v-model="user_id" placeholder="Please select the concerned employee" v-decorator="['employee', { rules: [{ required: true, message: 'Please input the concerned employee!' }], initialValue: user_id }]">
                    <a-select-option v-for="user in users" :key="user.id" :value="user.id">{{ user.firstname }} {{ user.lastname }}
                    </a-select-option>
                </a-select>
                <div class="clearfix" style="float:right;">
                    <a-upload :file-list="files" :remove="handleRemove" :before-upload="beforeUpload">
                    <a-button> <a-icon type="upload" /> Select File </a-button>
                    </a-upload>
                </div>
            </a-form-item>
            <a-form-item v-else>
                <div class="clearfix" style="float:right;">
                    <a-upload :file-list="files" :remove="handleRemove" :before-upload="beforeUpload">
                    <a-button> <a-icon type="upload" /> Select File </a-button>
                    </a-upload>
                </div>
            </a-form-item>
            <a-form-item :wrapper-col="{ span: 14, offset: 4 }">
                <a-button type="primary" @click="submit">
                    Submit
                </a-button>
                <a-button style="margin-left: 10px; color: black">
                    <router-link style="color: black; font-weight: normal;" to="/expenses">Cancel</router-link>
                </a-button>
            </a-form-item>      
        </a-form>
    </div>
</template>

<script>
export default {
    name: "CreateExpenseReport",
    data() {
        return {
            labelCol: { span: 4 },
            wrapperCol: { span: 14 },
            type: ['Transport', 'Food', 'Lodging', 'Other'],
            amount: null,
            currency: ['EUR', 'USD', 'CHF', 'GBP', 'Other'],
            payment_type: ['CB', 'Cash', 'Transfer'],
            selectedCurrency: null,
            selectedType: null,
            selectedPaymentType: null,
            comment: null,
            date: null,
            users: [],
            user_id: null,
            files: [],
            form: this.$form.createForm(this, { name: 'expenseReport' }),


        }
    },

    async created() {
        let moment = require('moment');
        await this.axios.get('/api/user').then(res => {
            this.users = res.data;
        })
        this.user_id = this.getUser().id;
        if (this.$route.params.id) {
            this.axios.get('/api/expenseReport/' + this.$route.params.id).then(res => {
                this.selectedType = res.data.type;
                this.amount = res.data.amount;
                this.selectedCurrency = res.data.currency;
                this.selectedPaymentType = res.data.payment_type;
                this.comment = res.data.comment;
                this.user_id = res.data.user_id;
                this.date = moment(res.data.date);
                this.files[0].name= res.data.url;
            })
        }
    },
    computed: {
        isValidDate() {
            let moment = require('moment');
            return (this.date.format()<=moment().format());
        }
    },
    methods: {
        submit() {
            this.form.validateFields((err) => {
                if (!err) {
                    if(this.isValidDate) {
                        if(this.files[0]) {
                            if (this.$route.params.id) {
                                this.axios.put('/api/expenseReport/' + this.$route.params.id, {
                                    currency: this.selectedCurrency,
                                    payment_type: this.selectedPaymentType,
                                    comment: this.comment,
                                    amount: this.amount,
                                    user_id: this.user_id,
                                    type: this.selectedType,
                                    date: this.date.format("YYYY-MM-DD HH:mm:ss"),
                                    url: this.files[0].name
                                }).then(() => {
                                    this.$toasted.show("Request Saved Successfully");
                                    this.$router.push({name: 'ManageReports'});
                                }).catch(({ response }) => {
                                    this.$toasted.show(response.data.message.errorInfo[2]);
                                });
                            } else {
                                this.axios.post('/api/expenseReport/', {
                                    currency: this.selectedCurrency,
                                    payment_type: this.selectedPaymentType,
                                    comment: this.comment,
                                    amount: this.amount,
                                    user_id: this.user_id,
                                    type: this.selectedType,
                                    date: this.date.format("YYYY-MM-DD HH:mm:ss"),
                                    url: this.files[0].name
                                }).then(() => {
                                    this.$toasted.show("Request Saved Successfully");
                                    this.$router.push({name: 'ManageReports'});
                                }).catch(({ response }) => {
                                    this.$toasted.show(response.data.message.errorInfo[2]);
                                });
                            }
                        } else {
                            this.$toasted.show("Please select a file");
                        }
                    } else {
                        this.$toasted.show("Please select another date, it can't be a higher date than today");
                    }

                }
            });


        },

        handleRemove(file) {
            const index = this.files.indexOf(file);
            const newFileList = this.files.slice();
            newFileList.splice(index, 1);
            this.files = newFileList;
        },
        beforeUpload(file) {
            this.files = [...this.files, file];
            return false;
        },
    },
}


</script>
<style scoped>

</style>
