<template>
    <div>
        <a-page-header
            style="border: 1px solid rgb(235, 237, 240); margin-bottom:10px;"
            title="Expenses Reports">
             <a-row class="btnHeader" type="flex">
                <a-button @click="exportReports">Export my expenses</a-button>
                <a-button><router-link to="/expenses/CreateExpenseReport"><span>Create An Expense</span></router-link></a-button>
            </a-row>
        </a-page-header>

        <a-row type="flex" :gutter="16"  id="myExpenses">
            <a-col :span="12">
                <h2>My expenses reports</h2>

                 <a-list :grid="{ gutter: 16, column: 2 }" item-layout="horizontal" size="large" :data-source="myExpenses">
                    <a-list-item slot="renderItem" key="expense.id" slot-scope="expense">
                    <a-card :title="'Expense n°' + expense.id" hoverable  >
                        <p>{{ expense.type }} - {{ expense.amount }} {{ expense.currency }}</p>
                        <p>{{ expense.date | formatDate}}</p>
                        <p>
                            <a-tag color="red" v-if="expense.status == 'Refused'">
                                {{ expense.status }}
                            </a-tag>
                            <a-tag color="green" v-if="expense.status == 'Validated'">
                                {{ expense.status }}
                            </a-tag>
                            <a-tag color="purple" v-if="expense.status == 'Waiting'">
                                {{ expense.status }}
                            </a-tag>
                        </p>

                        <template slot="actions" class="ant-card-actions">
                            <a-icon key="edit" type="edit"  @click="modifyMyExpense(expense.id,expense.status)"/>
                            <a-icon key="delete" type="delete" @click="deleteExpense(expense.id, expense.status)"/>
                        </template>
                    </a-card>
                    </a-list-item>
                </a-list>
            </a-col>

            <a-col :span="12" id="allExpenses" v-if="getUser().role == 'RH' || getUser().role == 'Responsable'">
                <h2>Expenses reports to validate</h2>
                <a-list :grid="{ gutter: 16, column: 2 }" item-layout="horizontal" size="large" :data-source="allExpenses">
                    <a-list-item slot="renderItem" key="expenses.id" slot-scope="expenses">
                    <a-card :title="'Expense n°' + expenses.id" hoverable  >
                        <p>{{ expenses.user.firstname }} {{ expenses.user.lastname }}</p>
                        <p>{{ expenses.type }} - {{ expenses.amount }} {{ expenses.currency }}</p>
                        <p>{{ expenses.date | formatDate}}</p>
                        <p>
                            <a-tag color="purple">
                                {{ expenses.status }}
                            </a-tag>
                        </p>
                        <template slot="actions" class="ant-card-actions">
                            <a-icon key="close" type="close"  @click="modifyStatusExpense(expenses.id, 'Refused')"/>
                            <a-icon key="check" type="check" @click="modifyStatusExpense(expenses.id, 'Validated')"/>
                        </template>
                    </a-card>
                    </a-list-item>
                </a-list>
            </a-col>
        </a-row>
    </div>
</template>

<script>
export default {
    name: "ManageReports",
    data() {
        return {
            myExpenses: null,
            allExpenses: null
        }
    },
    //Au chargement de la page
    created(){
        this.fetchMyExpenses();
        //Si le role est RH ou Responsable alors on charge la liste à valider
        if(this.getUser().role == 'RH' || this.getUser().role == 'Responsable') {
            this.fetchAllExpenses();
        }
    },
    methods:{
        exportReports(){
          this.axios.get('/api/user/'+this.getUser().id+'/exportExpenses', {responseType: 'arraybuffer'}).then((response) => {
              var fileURL = window.URL.createObjectURL(new Blob([response.data]));
              var fileLink = document.createElement('a');
              fileLink.href = fileURL;
              fileLink.setAttribute('download', 'Expenses.xlsx');
              document.body.appendChild(fileLink);
              fileLink.click();
          })
        },
        /*
         * Retourne les notes de frais de l'utilisateur connecté
         */
        fetchMyExpenses(){
            this.axios.get('/api/user/'+this.getUser().id+'/expenseReport').then(result => {
                this.myExpenses = result.data.message;
            })
        },
        /*
         * Retourne les notes de frais
         * Soit du service si l'utilisateur connecté est un responsable
         * Soit toutes si l'utilisateur connecté fait parti des rh
         */
        fetchAllExpenses(){
            this.axios.get('/api/expenseReport').then(result => {
                this.allExpenses = result.data.message;
            })
        },
        /*
         * Modifie le statut d'une note de frais dans la bdd puis dans la liste
         * id, statut
         */
        modifyStatusExpense(id, status){
            this.axios.put('/api/expenseReport/' + id, { status: status }).then(() => {
                this.$toasted.show("Saved, expense report n°" + id + " is "+ status);
                this.myExpenses.filter(function (expense) { return expense.id == id })[0].status = status;
                //Si le role est RH ou Responsable alors on supprime de la liste à valider
                if(this.getUser().role == 'RH' || this.getUser().role == 'Responsable') {
                    this.allExpenses.splice(this.allExpenses.findIndex(expense =>  expense.id == id),1)
                }

            })
        },
        /**
         * Supprime une note de frais via son id en base de données puis dans la liste
         */
        deleteExpense(id, status){
            if(status != 'Validated') {
                if(confirm("Do you want to delete the expense report n°"+ id + "?")) {
                    this.axios.delete('/api/expenseReport/'+ id).then(() => {
                        this.myExpenses.splice(this.myExpenses.findIndex(expense =>  expense.id == id),1);
                         //Si le role est RH ou Responsable alors on supprime de la liste à valider
                        if(this.getUser().role == 'RH' || this.getUser().role == 'Responsable') {
                            this.allExpenses.splice(this.allExpenses.findIndex(expense =>  expense.id == id),1)
                        }
                        this.$toasted.show("The expense report has been deleted");
                    })
                }
            } else {
                this.$toasted.show("The expense report has been Validated");

            }
        },
        modifyMyExpense(id, status){
            if(status == 'Waiting') {
                this.$router.push('/expenses/CreateExpenseReport/'+id);
            } else {
                this.$toasted.show("The expense report isn't 'Waiting'");
            }
        },
    }
}
</script>

<style scoped>
#allExpenses {
    background-color: #02C39A;
}

#allExpenses h2{
    color: white;
}
</style>
