<template>
<div id="app">
        <div id="nav">
            <a-layout id="components-layout-demo-top" class="layout" theme="light" color="white">
                <a-layout-header >
<!--                    <div>-->
<!--                        <img src="logo.png">-->
<!--                    </div>-->
<!--                    <img src="img/logo.png" height="56" width="56"/>-->
                    <a-menu mode="horizontal" theme="dark">
                        <a-menu-item key="logIn"  v-if="!$auth.isAuthenticated">
                            <!-- show login when not authenticated -->
                            <span><a-icon type="logout" /><a @click="login">Sign in</a></span>
                        </a-menu-item>
                    </a-menu>
                    <a-menu mode="horizontal" theme="dark" v-if="$auth.isAuthenticated">
                        <a-sub-menu>
                            <span slot="title" class="submenu-title-wrapper">
                                <router-link to="/"><a-icon type="home" /></router-link>
                            </span>
                        </a-sub-menu>
                        <a-sub-menu>
                            <span slot="title" class="submenu-title-wrapper">
                                <router-link to="/holidays"><a-icon type="cloud" />Holidays</router-link>
                            </span>
                            <a-menu-item-group>
                                <a-menu-item key="holidays:1">
                                    <router-link to="/holidays">Home</router-link>
                                </a-menu-item>
                                <a-menu-item key="holidays:2">
                                    <router-link to="/holidays/createHRequest/">Create request</router-link>
                                </a-menu-item>
                            </a-menu-item-group>
                        </a-sub-menu>
                        <a-sub-menu>
                            <span slot="title" class="submenu-title-wrapper">
                                <router-link to="/expenses"><a-icon type="account-book" />Expenses report</router-link>
                            </span>
                            <a-menu-item-group>
                                <a-menu-item key="expenses:1">
                                    <router-link to="/expenses">Home</router-link>
                                </a-menu-item>
                                <a-menu-item key="expenses:2">
                                    <router-link to="/expenses/CreateExpenseReport/">Create request</router-link>
                                </a-menu-item>
                            </a-menu-item-group>
                        </a-sub-menu>
                        <a-sub-menu>
                            <span slot="title" class="submenu-title-wrapper">
                                <router-link to="/tasks"><a-icon type="profile" />Tasks</router-link>
                            </span>
                            <a-menu-item-group>
                                <a-menu-item key="tasks:1">
                                    <router-link to="/tasks">Home</router-link>
                                </a-menu-item>
                                <a-menu-item key="tasks:2">
                                    <router-link to="/tasks/CreateTask/">Create task</router-link>
                                </a-menu-item>
                            </a-menu-item-group>
                        </a-sub-menu>
                        <a-sub-menu v-if="$store.state.connectedUser.role=='RH'">
                            <span slot="title" class="submenu-title-wrapper">
                                <router-link to="/recruitments"><a-icon type="solution" />Recruitments</router-link>
                            </span>
                            <a-menu-item-group>
                                <a-menu-item key="recruitments:1">
                                    <router-link to="/recruitments">Home</router-link>
                                </a-menu-item>
                                <a-menu-item key="recruitments:2">
                                    <router-link to="/recruitments/CreateJobOffer/">Create job offer</router-link>
                                </a-menu-item>
                            </a-menu-item-group>
                        </a-sub-menu>
                        <a-sub-menu>
                            <span slot="title" class="submenu-title-wrapper">
                                <router-link to="/formations"><a-icon type="usergroup-add" />Formations</router-link>
                            </span>
                            <a-menu-item-group>
                                <a-menu-item key="formations:1">
                                    <router-link to="/formations" v-if="$store.state.connectedUser.role=='RH'">Home</router-link>
                                </a-menu-item>
                                <a-menu-item key="formations:2" v-if="$store.state.connectedUser.role=='RH'">
                                    <router-link to="/formations/CreateFormation/">Create formation</router-link>
                                </a-menu-item>
                                <a-menu-item key="formations:3">
                                    <router-link to="/formations/inscription">Inscription</router-link>
                                </a-menu-item>
                            </a-menu-item-group>
                        </a-sub-menu>
                        <a-sub-menu>
                            <span slot="title" class="submenu-title-wrapper">
                                <router-link to="/evaluations"><a-icon type="usergroup-add" />Evaluations</router-link>
                            </span>
                        </a-sub-menu>
                        <a-sub-menu v-if="$store.state.connectedUser.role=='RH'">
                            <span slot="title" class="submenu-title-wrapper">
                                <router-link to="/roles"><a-icon type="usergroup-add" />Human Ressources</router-link>
                            </span>
                            <a-menu-item-group>
                                <a-menu-item key="humanRessource:1">
                                    <router-link to="/roles">Role Management</router-link>
                                </a-menu-item>
                                <a-menu-item key="humanRessource:2">
                                    <router-link to="/services">Service Management</router-link>
                                </a-menu-item>
                            </a-menu-item-group>
                        </a-sub-menu>
                        <a-menu-item key="userName" selectable="false" id="logOut">
                            <span>  {{ $auth.user.name }}</span>
                        </a-menu-item>
                        <a-menu-item key="logOut" id="logOut">
                            <!-- show logout when authenticated -->
                            <span><a @click="logout"><a-icon type="logout" />Log out </a></span>
                        </a-menu-item>
                    </a-menu>
                </a-layout-header>
                <a-layout-content
                    :style="{ background: '#fff', padding: '20px', margin: 0, minHeight: '280px' }">
                    <router-view v-if="canShow"/>
                </a-layout-content>
            </a-layout>
        </div>
    </div>
</template>
<script>
export default {
    data() {
        return {}
    },
    created() {

    },
    computed:{
        canShow(){
        return this.$store.state.connectedUser!==null||this.$route.name ==='HomePage'
        }
    },
    methods: {
        // Log the user in
        login() {
            this.$auth.loginWithRedirect();
        },
        // Log the user out
        logout() {
            this.$auth.logout({
                returnTo: window.location.origin
            });
        },
    }
}

</script>
<style>
#app {
    font-family: Avenir, Helvetica, Arial, sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    text-align: center;
    /* color: #2c3e50; */
}

#nav a {
    font-weight: bold;
    color: white;
}

#nav a.router-link-exact-active {
    color: #02C39A;
}
#logOut {
    float: right;
}
#userName {
    text-decoration: none;
}

.btnHeader span{
    color:black;
    font-weight: normal;
    float:right;
}
.btnHeader {
    float:right;
}
</style>
