<template>
    <div>
        <h1>Create a Formation</h1>
        <a-form :form="form" :label-col="labelCol" :wrapper-col="wrapperCol">
            <a-form-model-item label="Name">
                <a-input v-model="name" type="text"
                 v-decorator="['name', { rules: [{ required: true, message: 'Please input the name!' }], initialValue: name }]"/>
            </a-form-model-item>
            <a-form-model-item label="Description">
                <a-input v-model="description" type="textarea"
                v-decorator="['description', { rules: [{ required: true, message: 'Please input the description!' }], initialValue: description }]"/>
            </a-form-model-item>
            <a-form-item label="Start date" >
                <a-date-picker
                    v-model="start_date"
                    type="date"
                    placeholder="Pick a date"
                    style="width: 100%;"
                    v-decorator="['startDate', { rules: [{ required: true, message: 'Please input the start date!' }], initialValue: start_date }]"

                />
            </a-form-item>
            <a-form-item label="End date" >
                <a-date-picker
                    v-model="end_date"
                    type="date"
                    placeholder="Pick a date"
                    style="width: 100%;"
                    v-decorator="['endDate', { rules: [{ required: true, message: 'Please input the end date!' }], initialValue: end_date}]"

                />
            </a-form-item>
             <a-form-item label="Places Available">
                <a-input type="number" min="0" v-model="max_people" v-decorator="['maxPeople', { rules: [{ required: true, message: 'Please input the places available!' }], initialValue: max_people }]" />
            </a-form-item>
            <a-form-item label="Animator">
                 <a-select v-model="animator" placeholder="Please select the animator">
                    <a-select-option v-for="user in users" :key="user.id" :value="user.id">{{ user.firstname }} {{ user.lastname }}
                    </a-select-option>
                </a-select>
            </a-form-item>
            <a-form-item :wrapper-col="{ span: 14, offset: 4 }">
                <a-button type="primary" @click="submit">
                    Submit
                </a-button>
                <a-button style="margin-left: 10px; color: black">
                    <router-link style="color: black; font-weight: normal;" to="/formations">Cancel</router-link>
                </a-button>
            </a-form-item>

        </a-form>
    </div>
</template>

<script>
export default {
    name: "CreateFormation",

    data() {
        return {
            name:null,
            description:null,
            start_date:null,
            end_date:null,
            max_people:null,
            animator:null,
            users: [],
            labelCol: { span: 4 },
            wrapperCol: { span: 14 },
            form: this.$form.createForm(this, { name: 'formationRequest' }),
        }
    },

    async created() {
        let moment = require('moment');
        await this.axios.get('/api/user').then(res => {
            this.users = res.data;
        })
        this.animator = this.getUser().id;
        if (this.$route.params.id) {
            this.axios.get('/api/formations/' + this.$route.params.id).then(res => {
                this.name = res.data.name;
                this.description = res.data.description;
                this.start_date = moment(res.data.start_date).format('YYYY-MM-DD');
                this.end_date = moment(res.data.end_date).format('YYYY-MM-DD');
                this.max_people = res.data.max_people;
                this.animator = res.data.user_id;                
            })
        }
    },
    computed: {
        isValidDate() {
            let moment = require('moment');
            return (this.end_date.format()>=moment().format());
        }
    },
    methods:{
        submit() {
             this.form.validateFields((err) => {
                if (!err) {
                    if (this.isValidDate) {
                        if (this.$route.params.id) {
                            this.axios.put('/api/formation/' + this.$route.params.id, {
                                name:this.name,
                                description:this.description,
                                start_date:this.start_date.format("YYYY-MM-DD HH:mm:ss"),
                                end_date:this.end_date.format("YYYY-MM-DD HH:mm:ss"),
                                max_people:this.max_people,
                                user_id:this.animator
                            }).then(()=>{
                            this.$toasted.show("Formation created Successfully");
                            this.$router.push({name:'ManageFormations'})
                            })
                            .catch(({ response }) => {
                                this.$toasted.show(response.data.message.errorInfo[2]);
                            });
                        } else {
                            this.axios.post('/api/formation/',{
                                name:this.name,
                                description:this.description,
                                start_date:this.start_date.format("YYYY-MM-DD HH:mm:ss"),
                                end_date:this.end_date.format("YYYY-MM-DD HH:mm:ss"),
                                max_people:this.max_people,
                                user_id:this.animator
                            }).then(()=>{
                                this.$toasted.show("Formation created Successfully");
                                this.$router.push({name:'ManageFormations'})
                            })
                            .catch(({ response }) => {
                                this.$toasted.show(response.data.message.errorInfo[2]);
                            });
                        }
                    }
                    else {
                        this.$toasted.show("Date isn't correct");
                    }
                }
             })
        }
    }
}
</script>
<style scoped>
</style>
