<template>
    <div>
        <a-page-header
            style="border: 1px solid rgb(235, 237, 240); margin-bottom:10px;"
            title="Inscription">
        </a-page-header>
        <a-row type="flex" justify="center">
            <a-col :span="12">
                <a-list
                    item-layout="horizontal"
                    :data-source="formations">
                    <a-list-item slot="renderItem" key="formation.id" slot-scope="formation" style="text-align:left;">
                        <a-list-item-meta type="flex" >
                            <p slot="title">{{ formation.name }}</p>
                            <p slot="description">
                                {{ formation.description }}
                                {{ formation.start_date | formatDate}} - {{ formation.end_date | formatDate}}
                            </p>
                        </a-list-item-meta>
                        <div>
                            <a-row type="flex" align="middle">
                                <a-col :flex="3" style="margin-right:5px;">
                                    <a-select @change="changeId(user.id)" v-model="idUser" v-if="getUser().role == 'RH' || getUser().role == 'Responsable'">
                                        <a-select-option v-for="user in users" :value="user.id" :key="user.id">{{user.firstname}} {{user.lastname}}</a-select-option>
                                    </a-select>
                                </a-col>
                                <a-col :flex="2" style="margin-right:5px;">
                                    <a-button class="btn" @click="inscription(formation.id, idUser)" >
                                        Register
                                    </a-button>
                                </a-col>
                                <a-col :flex="2">
                                    <a-button class="btn" @click="unsubscribe(formation.id, idUser)">
                                        Unsubscribe
                                    </a-button>
                                </a-col>
                            </a-row>
                        </div>
                    </a-list-item>
                </a-list>
            </a-col>
        </a-row>
    </div>
</template>

<script>
export default {
    name: "FormationInscription",
    data(){
        return{
            formations:null,
            idUser: null,
            users: null,
        }
    },
    /**
     * Au chargement de la page
     * Chargement des formations (et des utilisateurs si RH ou responsable)
     */
    async created(){
        this.axios.get('/api/formations').then(res=>{
            this.formations = res.data.message;
        });
        this.idUser = this.getUser().id;
        if(this.getUser().role == 'RH' || this.getUser().role == 'Responsable') {
            await this.axios.get('/api/user').then(res => {
                this.users = res.data;
            })
        }
    },
    methods:{
        /**
         * Inscription à une formation
         */
        async inscription(id, idUser){
            let formationUser = null;
            //Récupération des formations de l'utilisateur
            await this.axios.get('/api/user/'+idUser+'/formations').then(res=>{
                formationUser = res.data;
            });
            //S'il est déjà inscrit dans la formation sélectionnée on l'inscrit
            if(formationUser && formationUser.find(formation => formation.id = id)) {
                this.$toasted.show("You are already registered");
            } else {
                this.axios.post('/api/user/'+idUser+'/formations',{
                    id
                }).then(()=>{
                    this.$toasted.show("You are now registered");

                })
            }
        },
        async unsubscribe(id, idUser){
            let formationUser = null;
            //Récupération des formations de l'utilisateur
            await this.axios.get('/api/user/'+idUser+'/formations').then(res=>{
                formationUser = res.data;
            });
            //S'il n'est pas inscrit dans la formation sélectionnée on l'inscrit
            if(!formationUser && !formationUser.find(formation => formation.id = id)) {
                this.$toasted.show("You aren't registered");
            } else {
                this.axios.delete('/api/user/'+idUser+'/formations/'+id).then(()=>{
                    this.$toasted.show("You are now unsubscribed");
                })
            }
        },
        changeId(id){
            this.idUser = id;
        }
    }
}
</script>

<style scoped>

</style>
