<template>
    <div>
        <a-page-header
            style="border: 1px solid rgb(235, 237, 240); margin-bottom:10px;"
            title="Formations">
            <a-row class="btnHeader" type="flex">
                <a-button> <router-link to="/formations/CreateFormation"><span>Create a Formation</span></router-link></a-button>
            </a-row>
        </a-page-header>


        <h1>My Current Formations</h1>
        <a-list :grid="{ gutter: 16, column: 4 }" item-layout="horizontal" size="large" :data-source="formations">
            <a-list-item slot="renderItem" key="formation.id" slot-scope="formation">
                <a-card :title="formation.name" hoverable  >
                    <p>{{ formation.start_date | formatDate}} - {{ formation.end_date | formatDate }}</p>
                    <p>{{ formation.description }}</p>
                    <p>Available places : <b>{{ formation.max_people }}</b></p>


                    <template slot="actions" class="ant-card-actions">
                        <a-icon key="edit" type="edit"  @click="modifyFormation(formation.id)"/>
                        <a-icon key="delete" type="delete" @click="deleteFormation(formation.id)"/>
                    </template>
                </a-card>
            </a-list-item>
        </a-list>
    </div>
</template>

<script>
export default {
    name: "ManageFormations",

    data() {
        return {
            formations:null,
        }
    },
    async created(){
        this.axios.get('/api/user/'+this.getUser().id+'/formations').then(res=>{
            this.formations = res.data;
        })
    },
    methods:{
        modifyFormation(id){
            this.$router.push('/formations/CreateFormation/'+id);
        },
        deleteFormation(id){
            if(confirm("Do you want to delete the formation n°"+ id + "?")) {
                this.axios.delete('/api/formations/'+ id).then(() => {
                    this.formations.splice(this.formations.findIndex(formation =>  formation.id == id),1);
                    this.$toasted.show("The formation has been deleted");
                })
            }
        }
    }
}
</script>
<style scoped>
</style>
