<template>
    <div>
        <h1>Human Resources Module</h1>
        <p> Welcome in the module dedicated to treat all the request for the human resources service</p>
        <img src="../img/logo.png" height="280" width="280"/>
    </div>
</template>

<script>
export default {
    name: "HomePage",

    data() {
        return {}
    },
    methods:{
    }
}
</script>
<style scoped>
</style>
